@font-face {
    font-family: '04b03';
    src: url(04B_03__.TTF) format('truetype');
}

* {
    font-family: '04b03';
    user-select: none;
    image-rendering: pixelated;
}

body {
    cursor: url(cursors/default.png), auto;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

window {
    position: absolute;
}

handle {
    position: absolute;
    width: calc(100% + 4px + 12px); /* offset by 12px since window size isnt exact */
    height: calc(100% + 4px + 46px);
    top: -2px;
    left: -2px;
    z-index: 80;
    border : 2px solid #000;
    background: none;
}



/* Disabled/Default */ 
titlebar {
    position: relative;
    top: 0; left: 0;
    
    display: flex;
    width: 100%; height: 14px;

    background-color: #7c6d80;
    
    /* never fucking mind it just works here somehow */
    border-image: url(winnew/titlebar-l.png) 3 3 3 3 repeat repeat;
    border-style: solid;
    border-width: 6;
    border-radius: 12px; /* hides bg corner overlap :3 */
}

/* Active Changes */ 
window[active="true"] > titlebar { 
    background-color: #382843;

    border-image: url(winnew/titlebar.png) 3 3 3 3 repeat repeat;
    border-style: solid;
    border-width: 6;
    border-radius: 12px;
}

titlebar > img /* window icon */ {
    display: block;
    width: 14px; height: 14px;

    margin-right: 6px;    
}

/* Disabled/Default */
titlebar > span /* window title */ {
    margin-bottom: -4px;
    margin-top: -3px;

    display: block;

    color: #c7c6c6;
    text-shadow: 2px 2px 0px #382843;
}

/* Active Changes */
window[active="true"] > titlebar > span {
    text-shadow: 2px 2px 0px #000;
}

/* Default */
.titlebar-buttons {
    display: flex;
    width: 100%;

    position: relative;
    top: -4px;
    right: -2px;

    flex-direction: row;
    justify-content: flex-end;
}

.titlebar-button {
    display: block;
    width: 24px; height: 22px;
    padding: 0;

    margin-left: 0px;

    border: none;
}

/* Disabled/Default */
.titlebar-button[type="close"] {
    background: url(x-l.png) no-repeat;
    background-size: cover;
}

.titlebar-button[type="minimize"] {
    background: url(min-l.png) no-repeat;
    background-size: cover;
}

.titlebar-button[type="maximize"] {
    background: url(max-l.png) no-repeat;
    background-size: cover;
}

.titlebar-button[type="restore"] {
    background: url(restore-l.png) no-repeat;
    background-size: cover;
}

/* Active Changes */
window[active="true"] > titlebar > .titlebar-buttons > .titlebar-button[type="close"] {
    background: url(x.png) no-repeat;
    background-size: cover;
}

window[active="true"] > titlebar > .titlebar-buttons > .titlebar-button[type="minimize"] {
    background: url(min.png) no-repeat;
    background-size: cover;
}

window[active="true"] > titlebar > .titlebar-buttons > .titlebar-button[type="maximize"] {
    background: url(max.png) no-repeat;
    background-size: cover;
}

window[active="true"] > titlebar > .titlebar-buttons > .titlebar-button[type="restore"] {
    background: url(restore.png) no-repeat;
    background-size: cover;
}

/* Default */
content {
    position: relative;
    top: 0; left: 0;
    
    display: block;
    width: calc(100% - 8px); height: 100%;
    
    background-color: #7c6d80;
    
    border-image: url(winnew/content-l.png) 5 repeat repeat;
    border-style: solid;
    border-width: 10;
    border-radius: 12px;
}

/* Active Changes */
window[active="true"] > content {
    border-image: url(winnew/content.png) 5 repeat repeat;
    border-style: solid;
    border-width: 10;
    border-radius: 12px;
}


